<div class="forum-chat-page" data-my-username="{{username}}">
  <div class="forum-chat-container">
    <header class="forum-chat-header">
      <h1 class="forum-chat-title">Chateando en Grupo</h1>
    </header>
    <div class="forum-chat-body" style="height: 80vh; overflow-y: auto;">
      <div class="forum-message incoming">
      </div>
      <div class="forum-message outgoing">
      </div>
      <div class="forum-message incoming">
      </div>
    </div>
    <div class="forum-chat-footer">
      <form id="forum-message-form" class="form-inline">
          <input placeholder="Type your message" type="text" class="form-control flex-grow-1">
          <button type="submit" class="btn btn-primary">Enviar</button>
      </form>
    </div>
  </div>
</div>

